::-webkit-scrollbar {
  background-color: #2b2926;
}

::-webkit-scrollbar-thumb {
  background-color: #404040;
}

body {
  background-color: #1e1f1e;
}

div {
  scrollbar-color: #404040 #2b2926;
}

#content,
hr,
p,
h2,
h2 a,
h3,
h3 a,
pre,
.flex,
.flex a,
.tweets-box a {
  color: rgb(202, 187, 159);
  text-shadow: 0 0 2px #000000ba;
}

.twitter-profile h3 {
  opacity: 0.3;
}

button {
  background-color: #643131;
  border-color: #262424;
  color: #e6c5c5;
}

a.pretty-link {
  color: rgb(155, 155, 155);
}

.top-line,
hr,
.control {
  opacity: 0.6;
}
