::-webkit-scrollbar {
  background-color: #eaeaea;
}

::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
}

body {
  background-color: #fff;
}

div {
  scrollbar-color: #d5d5d5 #eaeaea;
}

#content,
p,
h2,
h2 a,
h3,
h3 a,
pre,
.flex,
.flex a,
.tweets-box a {
  color: #737373;
}

.twitter-profile h3 {
  opacity: 0.3;
}

hr {
  color: #ccc;
}

a.pretty-link {
  color: #595959;
}

div.tweet {
  border-bottom: #c8c8c8 1px dashed;
}
